body {
    background-color: var(--main-dark);
}
body > header {
    border-bottom: 1px solid #1F2224;
    height: 70px;
}
body > header > .container {
    display: flex;
    align-items: center;
}
body > header .container .header-left {
    flex-grow: 1;
}
.inline-menu a {
    border-radius: 10px;
}
.inline-menu a:hover {
    background-color: #1F2224;
}
body > .container {
    height: calc(100% - 70px);
}

section > h1 {
    line-height: 80px;
}
section .content .loader {
    height: 40px;
}
section .content {
    font-size: 0px;
}
.bot-card {
    width: 143.333px;
    background-color: #1F2224;
    height: 180px;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
}
.bot-card .image-holder {
    background-color: white;
    width: 80%;
    padding-top: 80%;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 15px;
}
.bot-card .image-holder img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    border-radius: 100%;
    left: 0px;
}
.bot-card .name {
    display: block;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
}
.item-with-overlay:hover .item-hover-overlay {
    display: flex;
}
.item-hover-overlay {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bot-card .item-hover-overlay .bot-hover-btn {
    display: block;
    width: 100px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    text-decoration: none;
    padding: 5px 0;
    cursor: pointer;
}
.bot-card .item-hover-overlay .edit-bot-btn {
    background-color: #00CC66;
}
.bot-card .item-hover-overlay .edit-bot-btn:hover {
    background-color: #00A955;
}
.bot-card .item-hover-overlay .open-bot-btn {
    background-color: var(--main-blue);
}
.bot-card .item-hover-overlay .open-bot-btn:hover {
    background-color: var(--main-blue-hover);
}
.bot-editing {
    display: flex;
}
.bot-editing .edit-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.bot-editing .edit-image > img {
    height: 100%;
    width: 100%;
}
.bot-editing .edit-image > * {
    border-radius: 100%;
    cursor: pointer;
}
.bot-editing .edit-image .fa-upload {
    color: var(--main-dark);
    font-size: 25px;
}
.bot-editing .edit-metadata {
    flex-grow: 1;
    padding-left: 30px;
}
.bot-editing .bot-editing-buttons {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.bot-editing .bot-editing-buttons .checkbox-takeover {
    flex-grow: 1;
    text-align: left;
}
.bot-editing .bot-editing-buttons label {
    align-items: center;
    font-size: 18px;
}
.bot-editing .bot-editing-buttons label input[type=checkbox] {
    margin-left: 15px;
}
.bot-editing .bot-editing-buttons .btn-red {
    margin-right: 10px;
}
.section-message {
    text-align: center;
    font-size: 18px;
    color: var(--very-dark-gray);
}